@model User
@{
    ViewBag.Title = "DoneTasks";
}

<h1 style="color:green">@ViewBag.Title</h1>
<br />

<table style="border:5px  double grey; width:100%; margin-bottom:10px; padding:5px">
    <thead>
        <tr>
            <th style="border:1px solid black">Title</th>
            <th style="border:1px solid black">Description</th>
            <th style="border:1px solid black">Priority </th>
            <th style="border:1px solid black">Status</th>
            <th style="border:1px solid black">TaskType</th>
            <th style="border:1px solid black">SubTasks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.CreatedTasks)
        {
            if (task.Status == TypeStatus.Done)
            {
                <tr>
                    <td style="border:1px solid black">@task.Title</td>
                    <td style="border:1px solid black">@task.Description</td>
                    <td style="border:1px solid black">@task.Priority</td>
                    <td style="border:1px solid black">@task.Status</td>
                    <td style="border:1px solid black">@task.TaskType</td>
                    <td style="border:1px solid black">
                        <ul>
                            @foreach (var subTask in task.SubTasks)
                            {
                                <li>Title: @subTask.Title => Description: @subTask.Description</li>
                            }
                        </ul>
                    </td>
                    <td><button type="button" class="btn btn-success">@Html.ActionLink("View DETAILS", "DetailsTask", "Task", new { id = task.Id })</button></td>
                </tr>
            }
        }

    </tbody>
</table>
